<template>
  <div class="d-flex flex-column align-items-center">
    <form class="d-flex flex-column" id="edit-country" @submit="formValidation">

      <p v-if="errors.length" class="alert alert-danger">
        <b>Error ! :</b> 
        <ul>
          <li v-for="(error, index) in errors" v-bind:key="index"><hr />{{ error }}</li>
        </ul>
      </p>

      <label for="name" class="form-label">Pays</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        v-model="inputCountry.name"
      />

      <label for="code" class="form-label">Code</label>
      <input
        type="text"
        name="code"
        id="code"
        class="form-control"
        v-model="inputCountry.code"
      />

      <label for="capitalCity" class="form-label">Capitale</label>
      <input
        type="text"
        name="capitalCity"
        id="capitalCity"
        class="form-control"
        v-model="inputCountry.capitalCity"
      />

      <button type="submit" name="ajouter" class="btn btn-primary mt-3">
        Modifier
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "EditCountry",
  data() {
    return {
      errors: [],
      inputCountry: {
        code: "",
        name: "",
        capitalCity: "",
      },
    };
  },

  mounted() {
    let id = this.$route.params.id;
    let url = "http://localhost:9000/country/" + id;
    let options = {
      method: "GET",
      headers: {
        "Content-type": "application/json",
      },
    };

    fetch(url, options)
      .then((response) => response.json())
      .then((data) => (this.inputCountry = data))
      .catch((error) => console.log(error));
  },
  methods: {
    editCountry() {
      let id = this.$route.params.id;
      let inputContent = {
        code: this.inputCountry.code,
        name: this.inputCountry.name,
        capitalCity: this.inputCountry.capitalCity,
      };

      let url = "http://localhost:9000/country/" + id;
      let options = {
        method: "PUT",
        body: JSON.stringify(inputContent),
        headers: {
          "Content-type": "application/json",
        },
      };

      fetch(url, options)
        .then((response) => response.json())
        .then((res) => {
          if (res.ok) {
            this.content = {};
          }
        })
        .then(this.$router.push({ path: "/" }))
        .catch((error) => console.log(error));
    },

    formValidation(e) {
      e.preventDefault();

      this.errors = [];

      if (
        !this.inputCountry.name
        || !this.inputCountry.code
        || !this.inputCountry.capitalCity
      ) {
        this.errors.push('Tous les champs doivent être remplis !');
      }

      if (this.inputCountry.code.length > 2) {
        this.errors.push('Le code du pays doit contenir seulement 2 caractères.');
      }

      if (this.errors.length < 1) {
        this.editCountry();
      }

    }
  },
};
</script>

<style lang="scss">
form#edit-country {
  max-width: 12rem;
  margin-bottom: 2rem;
}
</style>
