<template>
  <div class="d-flex flex-column align-items-center w-100">
    <div>
      <button type="button" class="btn btn-outline-primary" @click="getList">
        Rafraîchir la liste
      </button>
    </div>

    <table id="countries-list" class="table table-striped w-100">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Code</th>
          <th scope="col">Capitale</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="country in countries" :key="country.id">
          <td>{{ country.name }}</td>
          <td>{{ country.code }}</td>
          <td>{{ country.capitalCity }}</td>
          <td>
            <router-link :to="'/edit/' + country.id" class="btn btn-secondary"
              >Editer</router-link
            >
          </td>
          <td>
            <button
              type="button"
              title="supprimer"
              class="btn btn-danger"
              @click="deleteCountry(country.id)"
            >
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "ListCountries",
  data() {
    return {
      countries: [],
      id: "",
      code: "",
      country: "",
      capitalCity: "",
    };
  },

  mounted() {
    this.getList();
  },

  methods: {
    getList() {
      let url = "http://localhost:9000/countries";
      let options = {
        method: "GET",
        headers: {
          "Content-type": "application/json",
        },
      };

      fetch(url, options)
        .then((response) => response.json())
        .then((data) => {
          this.$nextTick(() => (this.countries = data));
        })
        .catch((e) => console.log(e));
    },

    deleteCountry(id) {
      let url = "http://localhost:9000/country/" + id;
      let options = {
        method: "DELETE",
        headers: {
          "Content-type": "application/json",
        },
      };

      fetch(url, options)
        .then(() => window.location.reload())
        // .then(this.$router.push({ path: "/" }))
        .catch((error) => console.log(error));
    },
  },
};
</script>
