<template>
  <header id="main-header">
    <h1>RESTons connectés</h1>

    <div id="nav">
      <router-link to="/">Home</router-link>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style lang="scss">
header#main-header {
  padding-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-gray-200);
}
#nav {
  padding: 1rem;
}
</style>
