<template>
  <div class="home d-flex flex-column align-items-center container-sm">
    <AddCountry />
    <ListCountries />
  </div>
</template>

<script>
import ListCountries from "../components/ListCountries.vue";
import AddCountry from "../components/AddCountry.vue";

export default {
  name: "Home",
  components: {
    ListCountries,
    AddCountry,
  },
};
</script>
